@import 'https://fonts.googleapis.com/css?family=Lobster|Quicksand|Cutive+Mono';

body {
  padding: 0 200px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

@media(max-width: 850px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
  }
}

@media(max-width: 600px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  color: #336699;
}

a:visited {
  color: #000;
}

a:hover {
  color: #C0C0C0;
}

p {
  line-height: 1.4;
  text-align: justify;
}

section#header {
  margin: 40px 0;
}

section#header h1 {
  font-size: 2em;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin: 0 0 9px 0;
}

section#header h2 {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.8em;
  text-align: center;
}

section.summary {
  padding: 0 0 0 10px;
  border-left: 1px solid black;
  margin: 0 0 60px 0;
}

@media(max-width: 600px) {
  section.summary {
    padding: 0 0 0 0;
    border-left: 0px solid black;
  }
}

section.summary article {
  margin: 15px 0 0 0;
}

section h2 {
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
}

section h2 a {
  color: #000;
}

section time {
  margin: 0 0 0 2px;
  font-size: 0.7em;
  font-weight: 600;
}

section article {
  margin: 15px 0 0 0;
}

section#paginator {
  margin: 0 0 140px 0;
  font-family: 'Lobster', cursive;
}

section#paginator #next {
  float: right;
}

#post {
  margin: 0 0 100px 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
